DB_HOST={{ db_host }}
DB_PORT={{ db_port }}
DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}
API_TOKEN={{ whitelist_api_token }}
ALLOWED_IPS={{ whitelist_api_allowed_ips | join(',') }}
ENV={{ env }}
